h2 {
    color: #3A3A3A;
    font-family: 'montserrat-regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}